/* You can add global styles to this file, and also import other style files */
.fullBody{
    width:100vw;
    height:100vh;
    overflow: scroll;
    background-color: rgb(244, 242, 252);
    color: rgb(0, 0, 0);
}
table{
    border: 2px solid black;
    background: rgb(208, 193, 239);
    color: rgb(0, 0, 0);
    text-align: center;

}
table tr{
    border: 2px solid black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

thead{
    background-color: black;
    color: whitesmoke;
}

.validation-error{
    color: red;
}



